@import "tailwindcss";
@tailwind utilities;


.active hr{
    @apply block;
}

.grid-cols-auto {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem; /* Optional: adjust spacing */
  }

  .bg-primary{
    @apply bg-[#5f6FFF]
  }